<div class="container">
    <!-- <img src="assets/thankYou.png" alt=""> -->

    <div class="row mt-3">
        <div class="col-12 text-dark fw-bold">
            <h2 >Order Confirmed</h2>
        </div>
        <div class="col-12 mt-1">
            Order Number <span class="fw-bold">{{orderNum}}</span>
        </div>
        <div class="col-12 mt-2">
            <p>Your Order of <span class="fw-bold">₹ {{cartData.TotalAmount}}</span> has been confirmed a confirmation has been sent to you at  <span class="fw-bold">{{cartData.UseremailId}}</span></p>
        </div>
        <div class="col-12 mt-2 fw-bold">
            If you don't recieve your order confirmation in the next hour, please chek your spam folder.
        </div>
    </div>

</div>